# Composite Data

## List

In [3]:
# This is my shopping  list
shoplist = ['apple', 'mango','carrot', 'banana']

print('I have', len(shoplist), 'items to purchase.')

print('These items are:', end = ' ')
for item in shoplist:
    print(item, end =' ')

print('\nI also have to buy rice.')
shoplist.append('rice')
print('Sorted shopping list is', shoplist)

print('The first item I will buy is', shoplist[0])
olditem = shoplist[0]
del shoplist[0]

print('I bought the', olditem)
print('My shopping list is now', shoplist)

I have 4 items to purchase.
These items are: apple mango carrot banana
I also have to buy rice.
Sorted shopping list is ['apple', 'mango', 'carrot', 'banana', 'rice']
The first item I will buy is apple
I bought the apple
My shopping list is now ['mango', 'carrot', 'banana', 'rice']

## Tuple

In [1]:
zoo = ('python', 'elephant','penguin')
print('Number of animals in the zoo is', len(zoo))

new_zoo = 'monkey', 'camel', zoo
print('Number of animals in the zoo is', len(new_zoo))
print('All animals in new zoo are', new_zoo)
print('Animals brought from old zoo are', new_zoo[2])
print('Last animals brought from old zoo is', new_zoo[2][2])
print('Number of animals in the new zoo is', len(new_zoo)-1+len(new_zoo[2]))

Number of animals in the zoo is 3
Number of animals in the zoo is 3
All animals in new zoo are ('monkey', 'camel', ('python', 'elephant', 'penguin'))
Animals brought from old zoo are ('python', 'elephant', 'penguin')
Last animals brought from old zoo is penguin
Number of animals in the new zoo is 5

In [2]:
zoo1 = ('python', 'elephant','penguin')
zoo2 = ('monkey', 'camel')
print(zoo1[2])
print(zoo1 + zoo2)
print(zoo1 *4)
print ('python' in zoo1)
for animal in zoo1:
    print(animal)
#del zoo1
print(zoo1)
zoo3 = tuple(['dog','cat'])
print(zoo3)

penguin
('python', 'elephant', 'penguin', 'monkey', 'camel')
('python', 'elephant', 'penguin', 'python', 'elephant', 'penguin', 'python', 'elephant', 'penguin', 'python', 'elephant', 'penguin')
True
python
elephant
penguin
('python', 'elephant', 'penguin')
('dog', 'cat')

## Dictionary

In [20]:
# "ab" is the abbrev of " Address Book"

ab = {
    'Swaroop':'swaroop@swaroopch.com',
    'Larry':'larry@wall.org',
    'Matsumoto':'matz@ruby-lang.org',
    'Spammer':'spammer@hotmail.com'
}

print("Swarrop's address is", ab['Swaroop'])

del ab['Spammer']

print('\nThere are {} contactes in the address-book\n'.format(len(ab)))

for name, address in ab.items():
    print('Contact {} at {}'.format(name, address))
    
for name in ab.keys():
    print (name)
    
for address in ab.values():
    print (address)
    
ab['Guido'] = 'guido@python.org'

print(ab.get('Guido'))

#ab.clear()

if 'Guido' in ab:
    print("\nGuido's address is", ab['Guido'])

Swarrop's address is swaroop@swaroopch.com

There are 3 contactes in the address-book

Contact Swaroop at swaroop@swaroopch.com
Contact Larry at larry@wall.org
Contact Matsumoto at matz@ruby-lang.org
Swaroop
Larry
Matsumoto
swaroop@swaroopch.com
larry@wall.org
matz@ruby-lang.org
guido@python.org

Guido's address is guido@python.org

## Slice

In [1]:
shoplist = ['apple', 'mango','carrot', 'banana']
name = 'swaroop'

print('Item 0 is', shoplist[0])
print('Item 1 is', shoplist[1])
print('Item 2 is', shoplist[2])
print('Item 3 is', shoplist[3])
print('Item -1 is', shoplist[-1])
print('Item -2 is', shoplist[-2])
print('Character 0 is', name[0])

print('Item 1 to 3 is', shoplist[1:3])#闭区间[1,3)开区间
print('Item 2 to end is', shoplist[2:])
print('Item 1 to -1 is', shoplist[1:-1])
print('Item start to end is', shoplist[:])

print('Character 1 to 3 is', name[1:3])
print('Character 2 to end is', name[2:])
print('Character 1 to -1 is', name[1:-1])
print('Character start to end is', name[:])

print(shoplist[::1])
print(shoplist[::2])
print(shoplist[::3])
print(shoplist[::-1])

Item 0 is apple
Item 1 is mango
Item 2 is carrot
Item 3 is banana
Item -1 is banana
Item -2 is carrot
Character 0 is s
Item 1 to 3 is ['mango', 'carrot']
Item 2 to end is ['carrot', 'banana']
Item 1 to -1 is ['mango', 'carrot']
Item start to end is ['apple', 'mango', 'carrot', 'banana']
Character 1 to 3 is wa
Character 2 to end is aroop
Character 1 to -1 is waroo
Character start to end is swaroop
['apple', 'mango', 'carrot', 'banana']
['apple', 'carrot']
['apple', 'banana']
['banana', 'carrot', 'mango', 'apple']

## Set

In [24]:
bri = set(['brazil','russia','india'])
print('india' in bri)
print('usa' in bri)
bric = bri.copy()
bric.add('china')
print(bric.issuperset(bri))
bri.remove('russia')
print(bri & bric)

True
False
True
{'india', 'brazil'}

## Reference or Copy

In [16]:
shoplist = ['apple', 'mango','carrot', 'banana']
mylist = shoplist

del shoplist[0]

print('shoplist is', shoplist)
print('mylist is', mylist)

print('Copy by making a full slice')
mylist = shoplist[:]

del mylist[0]

print('shoplist is', shoplist)
print('mylist is', mylist)

shoplist is ['mango', 'carrot', 'banana']
mylist is ['mango', 'carrot', 'banana']
Copy by making a full slice
shoplist is ['mango', 'carrot', 'banana']
mylist is ['carrot', 'banana']

## String

In [26]:
name = 'Swaroop'

if name.startswith('Swa'):
    print('Yes, the string startswith "Swa"')
    
if 'a' in name:
    print('Yes, it contains the string "a"')
    
if name.find('war')!=-1:
    print(name.find('ar'))
    print('Yes, it contains the string "war"')
    
delimiter = '_*_'
mylist = ['brazil','russia','india', 'China']
print(delimiter.join(mylist))

Yes, the string startswith "Swa"
Yes, it contains the string "a"
2
Yes, it contains the string "war"
brazil_*_russia_*_india_*_China

## Lab 04 - Anagram

Check two words whether are anagram.

- Enter two strings and I'll tell you if they are anagrams:
- Enter the first string: note
- Enter the second string: tone
- "note" and "tone" are anagrams.

In [4]:
def anagramSolution1(s1,s2):
    alist = list(s2)

    pos1 = 0
    stillOK = True

    while pos1 < len(s1) and stillOK:
        pos2 = 0
        found = False
        while pos2 < len(alist) and not found:
            if s1[pos1] == alist[pos2]:
                found = True
            else:
                pos2 = pos2 + 1

        if found:
            alist[pos2] = None
        else:
            stillOK = False

        pos1 = pos1 + 1

    return stillOK

print(anagramSolution1('abcd','dcba'))

True

In [4]:
a = 'note'
b = 'tonq'
print(sorted(a))
print(''.join(sorted(a)))
if sorted(a)==sorted(b):
    print(True)
else:
    print(False)

['e', 'n', 'o', 't']
enot
False

In [2]:
strlist = 'AA-1234'.split('-',1)
alpha = strlist[0]
digit = strlist[1]
print(alpha.isalpha())
print(digit.isdigit())

True
True

## sort

In [2]:
sorted([5, 2, 3, 1, 4])

[1, 2, 3, 4, 5]

In [3]:
a = [5, 2, 3, 1, 4]
a.sort()
a

[1, 2, 3, 4, 5]

In [1]:
sorted({1: 'D', 2: 'B', 3: 'B', 4: 'E', 5: 'A'})

[1, 2, 3, 4, 5]

In [5]:
sorted("This is a test string from Andrew".split(), key=str.lower)

['a', 'Andrew', 'from', 'is', 'string', 'test', 'This']

In [6]:
student_tuples = [
    ('john', 'A', 15),
    ('jane', 'B', 12),
    ('dave', 'B', 10),
]
sorted(student_tuples, key=lambda student: student[2])   # sort by age

[('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]

In [7]:
class Student:
    def __init__(self, name, grade, age):
        self.name = name
        self.grade = grade
        self.age = age
    def __repr__(self):
        return repr((self.name, self.grade, self.age))
student_objects = [
    Student('john', 'A', 15),
    Student('jane', 'B', 12),
    Student('dave', 'B', 10),
]
sorted(student_objects, key=lambda student: student.age)   # sort by age

[('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]

In [8]:
from operator import itemgetter, attrgetter
sorted(student_tuples, key=itemgetter(2))

[('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]

In [9]:
sorted(student_objects, key=attrgetter('age'))

[('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]

In [10]:
sorted(student_tuples, key=itemgetter(1,2))

[('john', 'A', 15), ('dave', 'B', 10), ('jane', 'B', 12)]

In [11]:
sorted(student_objects, key=attrgetter('grade', 'age'))

[('john', 'A', 15), ('dave', 'B', 10), ('jane', 'B', 12)]

In [12]:
sorted(student_tuples, key=itemgetter(2), reverse=True)

[('john', 'A', 15), ('jane', 'B', 12), ('dave', 'B', 10)]

In [13]:
sorted(student_objects, key=attrgetter('age'), reverse=True)

[('john', 'A', 15), ('jane', 'B', 12), ('dave', 'B', 10)]

In [14]:
data = [('red', 1), ('blue', 1), ('red', 2), ('blue', 2)]
sorted(data, key=itemgetter(0))

[('blue', 1), ('blue', 2), ('red', 1), ('red', 2)]

In [5]:
from operator import itemgetter, attrgetter
data = {'red':1,'blue':2,'green':1,'yellow':2}
data2 = {'yellow':2,'red':1,'blue':2,'green':1}
print(data.items())
print(sorted(data, key=itemgetter(0)))
print(sorted(data.items(), key=itemgetter(0)))
print(sorted(data, key=itemgetter(1)))
print(sorted(data2.items(), key=itemgetter(1)))

dict_items([('red', 1), ('blue', 2), ('green', 1), ('yellow', 2)])
['blue', 'green', 'red', 'yellow']
[('blue', 2), ('green', 1), ('red', 1), ('yellow', 2)]
['red', 'yellow', 'blue', 'green']
[('red', 1), ('green', 1), ('yellow', 2), ('blue', 2)]

In [15]:
s = sorted(student_objects, key=attrgetter('age'))     # sort on secondary key
sorted(s, key=attrgetter('grade'), reverse=True)

[('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]

In [31]:
def multisort(xs, specs):
    for key, reverse in reversed(specs):
        xs.sort(key=attrgetter(key), reverse=reverse)
    return xs

In [32]:
multisort(list(student_objects), (('grade', True), ('age', False)))

[('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]

关于 dic 排序的一个特殊情况，系统兼容性问题

Python 3.5.1 (default, Jun 20 2016, 14:48:22)

> > > def func(\*\*kw): print(kw.keys())
> > > ...
> > > func(a=1, b=2, c=3, d=4, e=5)
> > > dict_keys(['c', 'd', 'e', 'b', 'a']) # random order

vs

Python 3.6.0a4+ (default:d43f819caea7, Sep 8 2016, 13:05:34)

> > > def func(\*\*kw): print(kw.keys())
> > > ...
> > > func(a=1, b=2, c=3, d=4, e=5)
> > > dict_keys(['a', 'b', 'c', 'd', 'e']) # expected order